extends ../layout

block content
  center.h1 Brew Haha
  center 
    p.lead We're like Yelp...but a little more tipsy.
  center.col
    .col-lg-2
      a.btn.btn-raised(href='#', role='button') Log In
      p
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-md-3.col-form-label.text-right(for='email') Email
        .col-md-6
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
        .col-md-6
          input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
      .form-group
        .offset-md-3.col-md-6
          button.col-md-3.btn.btn-primary(type='submit')
            i
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      .form-group
        .offset-md-3.col-md-6

