extends layout

block content
  center.h1 Brew Haha
  center
    p.lead We're like Yelp...but a little more tipsy.
  hr
  center
    .btn-group-lg.flex(role='group')
        a.col-md-3.btn.btn-dark(href='/login', role='button') Log In
        p
        a.col-md-3.btn.btn-info(href='/signup', role='button') Sign Up