extends ../layout

include mixins/_drinkCard

block content
.modal
    .modal-content
        .modal-header
            button(class='close', data-dismiss: "modal")
            h4.title
        .modal-body
            +drinkCard(drink)